{%  extends "index.html" %}
{% block contenido_cambia %}

<head>
    <meta charset="UTF-8">
    <title>Acerca de este blog</title>
</head>
<body>
<h1 class="text-white font-weight-bold">Acerca de este blog</h1>
<h6 class="text-white font-weight-light">
    Este blog está creado con el propósito de que los fotógrafos aficionados puedan difundir su trabajo de forma gratuita y libre.
    El desarrollo fue realizado como proyecto final del curso de programación Python de Coderhouse en abril de 2023.

</h6>
</body>
</html>
{% endblock %}
