<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Entrega Final Programación Python - Fabián Giaccossa</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'blog/assets/favicon.ico' %}"/>
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
          rel="stylesheet" type="text/css"/>
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet"/>
</head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Acerca de</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'publicaciones' %}">Publicaciones</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Registrarse</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">Ingresar</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <p class="text-muted small mb-4 mb-lg-0" type="text/css">Bienvenido, {{ user.username }}!</p>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Salir</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-center">
                <h1 class="text-white font-weight-bold text-center">Publicaciones actuales</h1>
                <a class="btn btn-primary btn-lg" href="{% url 'blog' %}">CREAR NUEVA PUBLICACION</a>
                <br>
                <br>
            </div>
        <br>
        <br>
        <section>
            <h6 class="text-white font-weight-bold text-center">
                {% for a in articulos %}
                    <li>
                        Título: {{ a.titulo }}
                        <br>
                        Resumen: {{ a.resumen }}
                        <br>
                        <img src="{{ a.imagen }}">
                        <br>
                        Autor: {{ a.autor }}
                        <br>
                        <a class="btn btn-primary btn-sm" href="{% url 'leerarticulo' a.id %}">Leer</a>
                        {% if request.user.is_authenticated %}
                        <a class="btn btn-primary btn-sm" href="{% url 'eliminarticulo' a.id %}">Eliminar</a>
                        <a class="btn btn-primary btn-sm" href="{% url 'editararticulo' a.id %}">Editar</a>
                        {% endif %}
                        <br>
                        <br>
                    </li>
                {% endfor %}
            </h6>
        </section>
        <hr class="divider"/>
    </div>
    </div>
    </div>

</header>
</body>
</html>